<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burger</title>
    
    {{!-- CSS Links --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Righteous" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="/css/burgerStyle.css" type="text/css" /> --}}

    <style>
        body{
    background: linear-gradient(
                     rgba(255, 245, 245, 0.116), 
                     rgba(20,20,20, .5)),
                     url("../images/burger.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color:black;
    font-family: 'Open Sans', sans-serif;
}

.content{
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

.text-center {
    color: black;
    font-size: 60px;
    margin-bottom: 50px;
    font-family: 'Righteous', cursive;
}

h2{
    text-align: center;
    font-size: 35px;
}

    </style>

</head>
	<body>

        {{!-- Burger content from index.handlebars --}}
		{{{ body }}}


        <footer class="burgerFooter">
            <div class="footer-copyright">
                <div class="container">
                    <span>SB 2018</span>
                    <a href="https://github.com/sbissett/BurgerLogger">Reference Work</a>
                </div>
            </div>
	    </footer>
    {{!-- jQuery Link --}}
    <script src="https://code.jquery.com/jquery.js"></script>

	</body>
</html>