body{
    background: linear-gradient(
                     rgba(255, 245, 245, 0.116), 
                     rgba(20,20,20, .5)),
                     url("../images/burger.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color:black;
    font-family: 'Open Sans', sans-serif;
}

.content{
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

.text-center {
    color: black;
    font-size: 60px;
    margin-bottom: 50px;
    font-family: 'Righteous', cursive;
}

h2{
    text-align: center;
    font-size: 35px;
}
